body{
    background-color:rgba(25, 148, 219, 0.582);
}

#imagemprincipal{
    margin-left: 130px;
}

div{
    margin-left: 25px;
}

.contatos{
    font-size: 30px;
    font-family: Arial;
}

h1{
    font-size: 30px;
    font-family: Arial;
}

p{
    max-width: 500px;
    word-wrap: break-word;
    font-family: Arial;
}