@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppings", sans-serif;
}

body{
    background-color: aqua !important;
}

canvas{
    background-color: white;
}

.custom-container {
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
    background-color: #00B3B3;
    box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.349);
}

#meuCanvas{
    height: 450px;
    width: 450px;
}

@media screen and (min-width: 770px){
    #meuCanvas {
        height: 450px;
        width: 450px;
    }
}
.score--value {
    font-weight: 700;
    font-size: 4.5rem;
    display: block;
    margin-top: -10px;
}

.menu-screen {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.game-over {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3rem;
}

.final-score {
    font-weight: 500;
    font-size: 1.5rem;
}

.btn-play {
    border: none;
    border-radius: 100px;
    padding: 10px 15px 10px 12px;
    font-size: 1rem;
    font-weight: 600;
    color: #333;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}

#fim:hover{
    transition-duration: 0.7s;
    background-clip:padding-box;
    border-radius: 15px;
    background-color: rgb(2, 153, 241);
}
